<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="data" value="Akshay"></parameter>
  <test thread-count="5" name="Test">
    <classes>
      <class name="Selnium.TestNG_XML"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
